/*general settings*/
body {
  width: 800px;
  margin: 0 auto;
  background-color: rgb(236, 224, 224);
  padding: 0 20px 20px 20px;
}

h2 {
  color: rgb(83, 83, 179);
}

/*BODY*/
.nombre {
  padding-top: 20px;
  font-family: Helvetica;
}

.cargo {
  padding-left: 40px;
  padding-bottom: 8px;
  font-family: Helvetica;
}

.presentacion {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.texto-cont {
  margin: 35px;
}

.habilidades {
  display: grid;
  flex-direction: column;
  justify-content: space-around;
}

.descripcion {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
